@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Betty Nguyen</h1>
    <h2>A01028857</h2>
    <p>When I graduate I want to be a full-stack developer</p>
</div>
